*{
	margin: 0;
	padding: 0;

}


header{
	width: 100%;
}
nav{
	width: 100%;
	padding: 8px;
	background: blueviolet;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav>ul{
	display: flex;
	list-style-type: none;
}

ul>li>h1>a{
	margin-left: 10px;
	font-size: 15px;
	text-decoration: none;
	color: #1CB2B2;
	
}

.text:hover{
	background-position:right bottom;
}
.text{
	margin-left: 10px;
	font-size: 15px;
	text-decoration: none;
	color: #1CB2B2;
	 background: linear-gradient(to right, blueviolet 40%, orange 50%);
    background-size: 200% 100%;
    background-position:left bottom;
    transition:all 2s ease;
}


.buss{
	width: 50px;
	height: 30px;
	margin-left: 50px;

}

.buss > img{
	width: 100%;
}
ul>li{
	margin-right: 30px;
}

.shipping{
	width: 40px;
	height: 20px;
}


.shipping>h1>a>img{
	width: 100%;
}



.content{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;

}

.items{
	width: 300px;
	height: 300px;
	font-size: 18px;
	text-decoration: none;
	color: #1CB2B2;
}


.items>img{
	width: 100%;
}

.but{
	display: flex; 
	justify-content:space-between;
	align-items: flex-end;

}

.buy{
	padding: 5px 30px;
	background: orange;
	border-radius: 10px;
	color:  #1CB2B2;
	border: none;

}


.container{
	padding: 50px;
}


.a{
	padding: 10px 30px;
	background: orange;
	border: none;
	border-radius: 15px;
	text-decoration: none;

}


.srt{
	width: 30px;
	height: 20px;
}

.srt>img{
	width: 100%;
}


.slot{
	margin: 20px;
}


footer{
	width: 100%;
	height: 35px;
	background: blueviolet;
	color: #1CB2B2;
	text-align: center;
	padding: 10px;
	font-size: 20px;
}

.sfs{
	color: red;
	
}